.swiper__image {
    margin-right: 85px;
}

@media screen and (max-width: 1100px) {
    .swiper__image {
        margin-right: 40px;
        height: 45%;
    }
}

@media screen and (max-width: 470px) {
    .swiper__image {
        display: none;
    }
}