@import url('_mail/nav__link_mail.css');
@import url('_tel/nav__link_tel.css');

.nav__link {
    text-decoration: none;
    color: #fff;
    padding: 11px 0;
    margin: 7px 0;
    font-size: 16px;
    transition: .1s ease-in-out;
    display: flex;
    align-items: center;
}

.nav__link:hover {
    opacity: 0.8;
}

.nav__link:nth-of-type(3), .nav__link:nth-of-type(6) {
    padding-right: 29px;
    border-right: 1px solid #40bf79;
}

@media screen and (max-width: 1680px) {
    .nav__link {
        font-size: 13px;
    }
}

@media screen and (max-width: 1440px) {
    .nav__link {
        font-size: 12px;
    }
    
    .nav__link:nth-of-type(3), .nav__link:nth-of-type(6) {
        padding-right: 0;
        border-right: none;
    }
}

@media screen and (max-width: 1280px) {
    .nav__link {
        justify-content: flex-start;
        font-size: 16px;
        padding: 0 0;
    }
}

@media screen and (max-width: 600px) {
    .nav__link {
        font-size: 12px;
    }
}