@import url('__title/recommendations__title.css');
@import url('__subtitle/recommendations__subtitle.css');
@import url('__item/recommendations__item.css');
@import url('__container/recommendations__container.css');
@import url('__item-company/recommendations__item-company.css');
@import url('__item-type/recommendations__item-type.css');
@import url('__item-text/recommendations__item-text.css');

.recommendations {
    width: calc(100% - (252px*2));
    padding: 0 252px;
    margin-top: 170px;
    display: grid;
}

@media screen and (max-width: 1860px) {
    .recommendations {
        width: calc(100% - (188px*2));
        padding: 0 188px;
        margin-top: 150px;
    }
}

@media screen and (max-width: 1280px) {
    .recommendations {
        width: calc(100% - (94px*2));
        padding: 0 94px;
    }
}

@media screen and (max-width: 1100px) {
    .recommendations {
        width: calc(100% - (30px*2));
        padding: 0 30px;
        margin-top: 100px;
    }
}

@media screen and (max-width: 600px) {
    .recommendations {
        width: calc(100% - (15px*2));
        padding: 0 15px;
    }
}