.header__name {
    margin: 15px 0;
    font-size: 33px;
    color: #171717;
}

@media screen and (max-width: 1280px) {
    .header__name {
        font-size: 30px;
        margin: 0;
    }
}

@media screen and (max-width: 850px) {
    .header__name {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .header__name {
        font-size: 14px;
    }
}