.header__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 38px;
}

@media screen and (max-width: 1000px) {
    .header__link {
        display: none;
    }
}