.info__company-figures {
    color: #777777;
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 30px;
}

@media screen and (max-width: 767px) {
    .info__company-figures {
        font-size: 14px;
    }
}