.brands__item {
    width: 260px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border-right: 2px solid #f6f5f5;
    position: relative;
}

.brands__item:last-of-type {
    border-right: none; 
}

.brands__item:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1100px) {
    .brands__item:nth-of-type(2), .brands__item:nth-of-type(4), .brands__item:last-of-type {
        border-right: none;
    }
    
    .brands__item:nth-of-type(1):after, 
    .brands__item:nth-of-type(2):after, 
    .brands__item:nth-of-type(3):after, 
    .brands__item:nth-of-type(4):after {
        position: absolute;
        content:"";
        position: absolute;
        bottom: -25px;
        left: 0;
        width: 100%;
        border-bottom: 2px solid #f6f5f5;
    }
}

@media screen and (max-width: 600px) {
    .brands__item {
        width: 200px;
    }

    .brands__item img {
        height: 60%;
        width: 60%;
        object-fit: contain;
    }
}

@media screen and (max-width: 450px) {
    .brands__item {
        width: 150px;
    }

    .brands__item img {
        height: 80%;
        width: 80%;
        object-fit: contain;
    }
}

@media screen and (max-width: 380px) {
    .brands__item {
        width: 120px;
    }
}