.header__description {
    display: none;
    font-size: 18px;
    font-weight: 300;
    color: #777;
    margin: 0;
}

@media screen and (max-width: 1280px) {
    .header__description {
        display: block;
    }
}

@media screen and (max-width: 850px) {
    .header__description {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .header__description {
        display: none;
    }
}