.nav_mobile {
    display: none;
    flex-direction: column;
    padding: 10px 94px;
}

@media screen and (max-width: 850px) {
    .nav_mobile {
        padding: 10px 30px;
    }
}

@media screen and (max-width: 600px) {
    .nav_mobile {
        padding: 5px 15px;
    }
}