.header__search_open {
    display: block;
    background-color: #f1f1f1;
    padding: 0 94px;
}

@media screen and (min-width: 1280px) {
    .header__search_open {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .header__search_open {
        padding: 0 30px;
    }
}

@media screen and (max-width: 500px) {
    .header__search_open {
        padding: 0 15px;
    }
}