.brands__container {
    width: 100%;
    display: flex;
    padding: 15px 0;
    background-color: #fff;
}

@media screen and (max-width: 1100px) {
    .brands__container {
        width: max-content;
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        margin: 0 auto;
        row-gap: 50px;
    }
}