.footer__mobile-button {
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    outline: none;
    border: none;
    padding: 25px 0;
    border-bottom: 1px solid #4b4b4b;
    cursor: pointer;
}

.footer__mobile-button:last-of-type {
    border-bottom: none;
}

.footer__mobile-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .footer__mobile-button {
        padding: 15px 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .footer__mobile-button {
        font-size: 14px;
    }
}
